# Getting Started with pandas

Pandas contains data structures and data manipulation tools designed to make data cleaning
and analysis fast and convenient in Python. pandas is often used in tandem with
numerical computing tools like NumPy and SciPy, analytical libraries like statsmo‐
dels and scikit-learn, and data visualization libraries like matplotlib. pandas adopts
significant parts of NumPy’s idiomatic style of array-based computing, especially
array-based functions and a preference for data processing without for loops.
While pandas adopts many coding idioms from NumPy, the biggestabout difference
is that pandas is designed for working with tabular or heterogeneous data. NumPy, by
contrast, is best suited for working with homogeneously typed numerical array data.

In [ ]:
import pandas as pd

## Introduction to pandas Data Structures

### 1.Series

A Series is a one-dimensional array-like object containing a sequence of values (of
similar types to NumPy types) of the same type and an associated array of data labels,
called its index. The simplest Series is formed from only an array of data:

In [75]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [76]:
obj.array

<PandasArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [77]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [78]:
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"]) #Indexing using given values
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [79]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [80]:
#Compared with NumPy arrays, you can use labels in the index when selecting single values or a set of values
obj2['a']

-5

In [81]:
obj2[["c", "a", "d"]]
#Here ["c", "a", "d"] is interpreted as a list of indices, even though it contain strings instead of integers

c    3
a   -5
d    4
dtype: int64

Using NumPy functions or NumPy-like operations, such as filtering with a Boolean
array, scalar multiplication, or applying math functions, will preserve the index-value
link

In [82]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [83]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [84]:
import numpy as np

In [88]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [89]:
np.cbrt(obj2)

d    1.587401
b    1.912931
a   -1.709976
c    1.442250
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dictionary, as it is a
mapping of index values to data values. It can be used in many contexts where you
might use a dictionary

In [90]:
"b" in obj2

True

Should you have data contained in a Python dictionary, you can create a Series from
it by passing the dictionary

In [91]:
sdata = {"anantnag":3000, "pulwama":2500, "srinagar":800, "kulgam":2800}

In [92]:
sdata

{'anantnag': 3000, 'pulwama': 2500, 'srinagar': 800, 'kulgam': 2800}

In [93]:
obj3 = pd.Series(sdata)
obj3

anantnag    3000
pulwama     2500
srinagar     800
kulgam      2800
dtype: int64

In [94]:
sdata = obj3.to_dict()
sdata

{'anantnag': 3000, 'pulwama': 2500, 'srinagar': 800, 'kulgam': 2800}

In [95]:
obj3.index

Index(['anantnag', 'pulwama', 'srinagar', 'kulgam'], dtype='object')

In [103]:
districts = ['anantnag', 'pulwama', 'srinagar', 'kulgam', 'shopian']

In [104]:
obj4 = pd.Series(sdata, index=districts)
obj4

anantnag    3000.0
pulwama     2500.0
srinagar     800.0
kulgam      2800.0
shopian        NaN
dtype: float64

### 2.DataFrame

A DataFrame represents a rectangular table of data and contains an ordered, named
collection of columns, each of which can be a different value type (numeric, string,
Boolean, etc.). The DataFrame has both a row and column index; it can be thought of
as a dictionary of Series all sharing the same i

There are many ways to construct a DataFrame, though one of the most common is
from a dictionary of equal-length lists or NumPy arr

In [111]:
import pandas as pd
data = {"district":["pulwama","pulwama","pulwama","shopian","shopian","shopian"],
        "years":[2001, 2011, 2021, 2001, 2011, 2021],
       "pop":[2.0, 1.5,1.8,0.0,0.8,1.0]}

In [110]:
frame = pd.DataFrame(data)
frame

  district  years  pop
0  pulwama   2001  2.0
1  pulwama   2011  1.5
2  pulwama   2021  1.8
3  shopian   2001  0.0
4  shopian   2011  0.8
5  shopian   2021  1.0

In [112]:
#For large DataFrames, the head method selects only the first five rows
frame.head()

  district  years  pop
0  pulwama   2001  2.0
1  pulwama   2011  1.5
2  pulwama   2021  1.8
3  shopian   2001  0.0
4  shopian   2011  0.8

In [113]:
#Similarly, tail returns the last five rows
frame.tail()

  district  years  pop
1  pulwama   2011  1.5
2  pulwama   2021  1.8
3  shopian   2001  0.0
4  shopian   2011  0.8
5  shopian   2021  1.0

In [ ]:
#specify a sequence of columns, the DataFrame’s columns will be arranged in that order

In [136]:
frame2 = pd.DataFrame(data, columns=["years", "district", "pop"], index=('a','b','c','d','e','f'))
frame2

   years district  pop
a   2001  pulwama  2.0
b   2011  pulwama  1.5
c   2021  pulwama  1.8
d   2001  shopian  0.0
e   2011  shopian  0.8
f   2021  shopian  1.0

In [115]:
frame2.columns

Index(['years', 'district', 'pop'], dtype='object')

A column in a DataFrame can be retrieved as a Series either by dictionary-like
notation or by using the dot attribute notati

In [116]:
frame2["pop"]

0    2.0
1    1.5
2    1.8
3    0.0
4    0.8
5    1.0
Name: pop, dtype: float64

In [117]:
frame2.years

0    2001
1    2011
2    2021
3    2001
4    2011
5    2021
Name: years, dtype: int64

Rows can also be retrieved by position or name with the special iloc and loc
attributes

In [138]:
frame2.loc['a']

years          2001
district    pulwama
pop             2.0
Name: a, dtype: object

In [139]:
frame2.iloc[1]

years          2011
district    pulwama
pop             1.5
Name: b, dtype: object

Columns can be modified by assignment. For example, the empty debt column could
be assigned a scalar value or an array of va

In [140]:
frame2

   years district  pop
a   2001  pulwama  2.0
b   2011  pulwama  1.5
c   2021  pulwama  1.8
d   2001  shopian  0.0
e   2011  shopian  0.8
f   2021  shopian  1.0

In [141]:
frame2["debt"] = 0

In [142]:
frame2

   years district  pop  debt
a   2001  pulwama  2.0     0
b   2011  pulwama  1.5     0
c   2021  pulwama  1.8     0
d   2001  shopian  0.0     0
e   2011  shopian  0.8     0
f   2021  shopian  1.0     0

In [143]:
frame2["debt"] = np.arange(6,)

In [144]:
frame2

   years district  pop  debt
a   2001  pulwama  2.0     0
b   2011  pulwama  1.5     1
c   2021  pulwama  1.8     2
d   2001  shopian  0.0     3
e   2011  shopian  0.8     4
f   2021  shopian  1.0     5

### Index Objects

pandas’s Index objects are responsible for holding the axis labels (including a Data‐
Frame’s column names) and other metadata (like the axis name or names). Any array
or other sequence of labels you use when constructing a Series or DataFrame is
internally converted to an Ind

In [ ]:
obj = pd.Series(np.arange(3), index=["a","b","c"])
obj

In [ ]:
obj.index

In [ ]:
obj.index[1:]

In [ ]:
obj.index[1] = "h" #immutable so produces error

In [ ]:
#immutibility makes it faster to transfer its contents
labels = obj.index

In [ ]:
labels

In [ ]:
lables[0] = 'h'

In [ ]:
frame2.columns

In [ ]:
'pop' in frame2.columns

In [ ]:
1 in frame2.index

## Reindexing

In [ ]:
obj = pd.Series([1.1,2.5,1.8,3.0], index=["a","c","d","e"])
obj

In [ ]:
obj2 = obj.reindex(["a","b","c","d","e","f"])
obj

In [ ]:
"""Calling reindex on this Series rearranges the data according to the new index,
introducing missing values if any index values were not already pr"""
obj2

In [ ]:
"""For ordered data like time series, you may want to do some interpolation or filling of
values when reindexing. The method option allows us to do this, using a method such
as ffill, which forward-fills the value"""
obj3 = pd.Series(["red","yellow","green","blue"], index=[0,2,4,6])
obj3

In [ ]:
obj3.reindex(np.arange(10), method="ffill")
obj3

### Dropping Entries from an Axis

Dropping one or more entries from an axis is simple if you already have an index
array or list without those entries, since you can use the reindex method or .loc-
based indexing. As that can require a bit of munging and set logic, the drop method
will return a new object with the indicated value or values deleted from a

In [ ]:
import numpy as np
import pandas as pd
obj = pd.Series(np.arange(5.), index=["a", "b", "c", "d", "e"])
obj

In [ ]:
new_obj = obj.drop("c")
new_obj

In [ ]:
obj.drop(["d", "c"])

With DataFrame, index values can be deleted from either axis. To illustrate this, we
first create an example DataFra

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index=["anantnag","pulwama","kulgam","shopian"],
                    columns=["one","two", "three", "four"])

In [ ]:
data

In [ ]:
data.iloc[0]

In [ ]:
data["one"]

In [ ]:
data.drop(index=["kulgam","shopian"])

In [ ]:
#To drop labels from the columns, instead use the columns keyword
data.drop(columns=["one"])

In [ ]:
"""you can also drop values from the columns by passing axis=1 (which is like NumPy)
or axis="columns":"""
data.drop("two", axis=1)

In [ ]:
data.drop(["two", "four"], axis="columns")

## Indexing, Selection, and Filtering

Series indexing (obj[...]) works analogously to NumPy array indexing, except you
can use the Series’s index values instead of only integers. Here are some examples of
this

In [ ]:
obj = pd.Series(np.arange(4.), index=["a", "b", "c", "d"])

In [ ]:
obj

In [ ]:
obj['a']

In [ ]:
obj[2:3]

In [ ]:
obj[["b", "a", "d"]]

While you can select data by label this way, the preferred way to select index values is
with the special loc operator

# Selection on DataFrame with loc and iloc

Like Series, DataFrame has special attributes loc and iloc for label-based and
integer-based indexing, respectively. Since DataFrame is two-dimensional, you can
select a subset of the rows and columns with NumPy-like notation using either axis
labels (loc) or integers (iloc).

In [ ]:
obj.loc[["b", "a", "d"]]

You can combine both row and column selection in loc by separating the selections
with a comm

## Arithmetic and Data Alignment

In [ ]:
import numpy as np
import pandas as pd
s1 = pd.Series([1,2,3,4,5], index=["a","b","c","d","e"])
s1

In [ ]:
s2 = pd.Series([1.1,2.1,3.1,4.1,5.1])
s2

In [ ]:
s1 + s2

In [ ]:
df1 = pd.Series(np.arange(9.).reshape(3,3), columns=list("bcd"), index=["jammu","kashmir","ladakh"])
df2 = pd.Series(np.arange(12.).reshape(4,3), columns=list("abc"), index=["jammu","punjab","kashmir"])